md-card-content {
  margin-top: 30px;
}

.actions {
    float: right;
    display: none;
}

span {
  display: block;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
