<div fxLayout="column">
  <img src="/assets/images/logo.png" alt="Project image" fxLayoutAlign="space-around start">
  <md-card fxLayout>
    <!-- <img *ngIf="(authService.photoUrlStream | async) as picture;else noPhotoTemplate" [src]="picture" alt="Google profile photo"> -->
    <!-- <ng-template #noPhotoTemplate> -->
    <!-- <img src="/assets/images/missing_photo.png" alt="Missing photo"> -->
    <!-- </ng-template> -->
    <form fxFlex fxLayout (ngSubmit)="onSubmit()">
      <md-input-container fxFlex dividerColor="warn">
        <input mdInput type="text" placeholder="Search a song" required [(ngModel)]="postBodyText" name="postBodyTest">
      </md-input-container>
    </form>
  </md-card>


</div>
