<div fxLayout="column" fxLayoutAlign="center center">
  <img src="/assets/images/logo.png" alt="Project image">
  <form #vidForm="ngForm" (ngSubmit)="joinOrCreate()">
    <md-card fxLayout >
      <md-input-container fxFlex dividerColor="warn">
        <input mdInput type="text" placeholder="Join or Create a room" required [(ngModel)]="playlistName" name="playlistName">
      </md-input-container>

      <div fxLayout fxLayoutAlign="end center">
        <button type="submit" md-icon-button [disabled]="!vidForm.form.valid">
      <md-icon>queue_music</md-icon>
    </button>
      </div>
    </md-card>
  </form>


</div>
