<div>
  <md-card fxLayout="column" fxLayoutAlign="none stretch">
    <md-input-container fxFlex dividerColor="warn">
      <input mdInput type="text" placeholder="Add a song" required [(ngModel)]="songName" name="songName">
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button md-raised-button color="accent" (click)="addSongToPlaylist()">
      Add song to playlist</button>
    </div>

  </md-card>
  <br>
  <app-playlist [vid]="video"></app-playlist>
</div>
